<!DOCTYPE html>
<html>
<head>
    <title>Resultados do Simulado - {{ simulado.nome_simulado }}</title>
</head>
<body>
    <h1>Resultados - {{ simulado.nome_simulado }}</h1>
    <h3>Pontuação Total: {{ pontuacao_total }}</h3>
    <h3>Porcentagem de Acertos: {{ porcentagem_acertos }}%</h3>
    <h2>Questões Respondidas:</h2>
    <ul>
        {% for questao in questoes %}
            <li>
                <p>{{ questao.enunciado }}</p>
                <ul>
                    {% for alternativa in questao.alternativa_set.all %}
                        {% with resposta=alternativa.texto %}
                            {% if resposta and resposta == questao.resposta_correta %}
                                <li style="color: green;">{{ alternativa.texto }} (Correta)</li>
                            {% elif resposta %}
                                <li style="color: red;">{{ alternativa.texto }} (Incorreta)</li>
                            {% else %}
                                <li>{{ alternativa.texto }}</li>
                            {% endif %}
                        {% endwith %}
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
