<!DOCTYPE html>
<html>
<head>
    <title>Realizar Simulado - {{ simulado.titulo }}</title>
</head>
<body>
    <h1>{{ simulado.titulo }}</h1>
    <form method="post">
        {% csrf_token %}
        {% for questao in questoes %}
            <h3>Questão {{ forloop.counter }}:</h3>
            <p>{{ questao.enunciado }}</p>
            <ul>
                {% for opcao in questao.opcoes.all %}
                    <li>
                        <label>
                            <input type="radio" name="respostas[{{ questao.id }}]" value="{{ opcao.id }}"> {{ opcao.texto }}
                        </label>
                    </li>
                {% endfor %}
            </ul>
        {% endfor %}
        <input type="submit" value="Submeter Respostas">
    </form>
</body>
</html>
